<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/landing-page.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


        <title>DigiWave</title>


    </head>

    <body>

    <!--<div class="container-fluid">-->
        <nav class="navbar navbar-default">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Andes Audio</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                    <li><a href="{{ url_for('raspioff') }}">Power</a></li>
                        <li><a href="{{ url_for('sourcesconfig') }}">Sources</a></li>
                        <li><a href="{{ url_for('mpdconfig') }}">MPD</a></li>
                        <li><a href="{{ url_for('networkconfig') }}">Network</a></li>
                        <li><a href="{{ url_for('systemconfig') }}">System</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Streaming Services<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('spotifyconfig') }}">Spotify</a></li>
                                    <li><a href="{{ url_for('googleconfig') }}">Google Play Music</a></li>
                                </ul>
                        </li>
                    </ul>





                </div><!-- /.navbar-collapse -->
            </div>


            <!-- /.container-fluid -->
        </nav>



        {% block content %}{% endblock %}

        <!--</div>-->
    </body>
</html>