{% extends "base.html" %}
{% block content %}

{% include 'flash.html' %}





<a name="services"></a>

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">All your local music<br>All the sound quality</h3>
                    <p class="lead">This is the perfect setup if you have an USB storage device with all your music.<br>
                                    Just use your preferred iOS/Android mpd player and listen the music with the best quality</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 col-lg-offset-1">
                    <img class="img-responsive" src="static/images/raspi.png" alt="" style="max-height: 150px;">
                </div>
            </div>

        </div>
</div>


<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 col-lg-push-5 col-md-push-5 col-sm-push-6 col-xs-push-0">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Play from your local network<br>avoiding all the hazard</h3>
                    <p class="lead">Enabling UPnP on your NAS will make everything works just like magic, use an iOS/Android UPnP controller
                                    (BubbleUPnP or Linn Kazoo) as your remote and enjoy. <br>If this isn't good enough, you can
                                    stream Tidal directly to your DigiWave as well</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 col-lg-pull-7 col-md-pull-7 col-sm-pull-6 col-xs-pull-0">
                    <img class="img-responsive" src="static/images/hifiberry.png" alt="" style="max-height: 150px;">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>





<div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Enhance your LMS performance<br>with a beautiful sounding client</h3>
                    <p class="lead">Use the DigiWave as an LMS client and control it with your favorite remote control  application such
                        as iPeng or Orange Squeeze.<br>You can also add several DigiWave clients and have a fully multi-room solution</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 col-lg-offset-1">
                    <img class="img-responsive" src="static/images/raspi.png" alt="" style="max-height: 150px;">
                </div>
            </div>

        </div>
</div>


<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 col-lg-push-5 col-md-push-5 col-sm-push-6 col-xs-push-0">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">ShairPort rendered<br>We haven't forgot you</h3>
                    <p class="lead">Enjoy pristine and lossless CD quality music with Shairport-Sync (Airplay) and use your DigiWave as an
                                    Airplay rendered</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 col-lg-pull-7 col-md-pull-7 col-sm-pull-6 col-xs-pull-0">
                    <img class="img-responsive" src="static/images/hifiberry.png" alt="" style="max-height: 150px;">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>







{% endblock %}