{% extends "base.html" %}

{% block content %}
<h3 style="text-align: center;">Network Settings</h3>

{% include "flash.html" %}
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="well">



    <!-- form to set the name of the player -->
    <!-- ================================== -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4>Change your DigiWave's name</h4>
        </div>
    </div>


    <form action="" method="post" name="form_host" value="form_host">
        {{ form_host.hidden_tag() }}


        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                <label>{{ form_host.hostname.label }}</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <td>{{ form_host.hostname(style= "width:100px;") }}</td>
                    <a href="#" data-toggle="popover" data-placement="bottom"
                    data-content="Hostname needs to be between 4 and 30 characters and
                    must contain only letters, numbers or underscore">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    </a>
            </div>
        </div>


        <!-- Validation for hostname value -->
        <div class="row">
	        <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12">
                {% if form_host.hostname.errors %}
                <ul class="errors">
                {% for error in form_host.hostname.errors %}
        	        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <!-- field that submit the form back to python -->
                <label>{{ form_host.submit1(class_="btn btn-default") }}</label>
            </div>
        </div>

    </form>

    <br>
    <br>


        <!-- form to enable wifi on the player -->
        <!-- ================================== -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>Wifi Configuration</h4>
            </div>
        </div>


    <form action="" method="post" name="form_wifi" value="form_wifi">
        {{ form_wifi.hidden_tag() }}


        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                <label>{{ form_wifi.wifi_name.label }}</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <td>{{ form_wifi.wifi_name(style= "width:100px;") }}</td>
                    <a href="#" data-toggle="popover" data-placement="bottom"
                    data-content="You can copy the name of the network from the 'Wifi Networks' button">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    </a>
            </div>
        </div>

        <!-- Validation for wifi_name value -->
        <div class="row">
	        <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12">
                {% if form_wifi.wifi_name.errors %}
                <ul class="errors">
                {% for error in form_wifi.wifi_name.errors %}
        	        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>




        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                <label>{{ form_wifi.password.label }}</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <td>{{ form_wifi.password(style= "width:100px;") }}</td>
            </div>
        </div>

        <!-- Validation for password value -->
        <div class="row">
	        <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12">
                {% if form_wifi.password.errors %}
                <ul class="errors">
                {% for error in form_wifi.password.errors %}
        	        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>




        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <!-- field that submit the form back to python -->
                <label>{{ form_wifi.submit2(class_="btn btn-default") }}</label>
            </div>
        </div>

    </form>






    </div>



    <!-- modal to call showwifi page -->
    <!-- =========================== -->
    <div class="bs-example">
    <!-- Button HTML (to Trigger Modal) -->
        <a href="{{ url_for('showwifi') }}" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Wifi Networks</a>

    <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                <!-- Content will be loaded here from "showmpd.html" file -->
                </div>
            </div>
        </div>
    </div>



</div>


<script>
    $('[data-toggle="popover"]').popover({
    container: 'body'});
</script>

{% endblock %}