{% extends "base.html" %}

{% block content %}

<h1>Configure your Network</h1>

{% include "flash.html" %}

<div class="well">

<form class="form-group" action="" method="post" name="mpdconf">
    {{ form.hidden_tag() }}

    <tr>
        <td>{{ form.dhcp.label }}</td>
        <td>{{ form.dhcp }}</td>
        <br>
    </tr>

    <tr>
        <td>{{ form.ssid.label }}</td>
        <td>{{ form.ssid }}</td>
        <br>
    </tr>

    <tr>
        <td>{{ form.security.label }}</td>
        <td>{{ form.security }}</td>
        <br>
    </tr>

    <tr>
        <td>{{ form.password.label }}</td>
        <td>{{ form.password }}</td>
        <br>
    </tr>


    <div>
        <button type="submit" class="btn btn-default">Accept</button>
    </div>

</form>

</div>

{% endblock %}