{% block content %}



<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align:center">Wifi</h4>
      </div>

<div class="row">
    <br>
    {% for item in result %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <label> {{ item }} </label>
    </div>
    {% endfor %}
</div>
<br>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

{% endblock %}