{% extends "base.html" %}

{% block content %}

<h1>Configure SoundCloud</h1>

{% include "flash.html" %}

<div class="well">
<form class="form-group" action="" method="post" name="mpdconf">
    {{ form.hidden_tag() }}

    <tr>
        <td>{{ form.username.label }}</td>
        <td>{{ form.username }}</td>
        <br>
    </tr>

    <tr>
        <td>{{ form.password.label }}</td>
        <td>{{ form.password }}</td>
        <br>
    </tr>


    <div>
        <button type="submit" class="btn btn-default">Accept</button>
    </div>

</form>


</div>

{% endblock %}