{% extends "base.html" %}

{% block content %}
<h3 style="text-align: center;">Re-scan the Sources</h3>

{% include "flash.html" %}
<div id="loading"></div>
<div id="content">

<div class="col-md-6 col-md-offset-3">
<div class="well">

<form class="form-group" action="" method="post" name="raspioff">
    {{ form.hidden_tag() }}


    <div class="row">
        <div class="col-xs-11 text-center">
        <button type="submit" name="anything_submit" value="Submit" onclick="loading();">Accept</button>
            </div>
    </div>

</form>
</div>
</div>
    </div>

<style type="text/css">
div#loading {

    width: 128px;
    height: 128px;
    display: none;
    background: url(/static/images/ajax-loader.gif) no-repeat;
    cursor: wait;
    margin-left: auto;
    margin-right: auto;
    }
    </style>


<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>


{% endblock %}