{% extends "base.html" %}

{% block content %}

<h1>Configure your System</h1>

{% include "flash.html" %}

<div class="well">

<form class="form-group" action="" method="post" name="mpdconf">
    {{ form.hidden_tag() }}

    <tr>
        <td>{{ form.timezone.label }}</td>
        <td>{{ form.timezone }}</td>
        <br>
    </tr>

    <tr>
        <td>{{ form.host.label }}</td>
        <td>{{ form.host }}</td>
        <br>
    </tr>

    <tr>
        <td>{{ form.clear_log.label }}</td>
        <td>{{ form.clear_log }}</td>
        <br>
    </tr>

    <tr>
        <td>{{ form.clear_play.label }}</td>
        <td>{{ form.clear_play }}</td>
        <br>
    </tr>


    <div>
        <button type="submit" class="btn btn-default">Accept</button>
    </div>

</form>

</div>

{% endblock %}